body
{
    color: powderblue;
    background-color: mediumvioletred;
}

span
{
    font-size: 30px;
}

#camera , #result
{
    border: 5px dashed black;
    width: 350px;
    height: 350px;
}

.object_name
{
    font-size: 40px;
}

.icon
{
    font-size: 48px;
}

.heading
{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
}

label
{
    font-size: 14px;
    color: lemonchiffon;
    padding: 6px;
    border-radius: 15px;
    background-color: black;
}